{% extends 'common/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img src="{{ book.image_url }}" class="img-fluid rounded" alt="Cover of {{ book.title }}">
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h1>{{ book.title }}</h1>
          <span class="badge bg-primary">{{ book.genre }}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">by {{ book.publisher }}</h5>
          <p class="card-text">{{ book.description }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>ISBN:</strong> {{ book.isbn }}</li>
            <li class="list-group-item"><strong>Publication Date:</strong> {{ book.publishing_date|date:"d M Y" }}</li>
            <li class="list-group-item"><strong>Pages:</strong> {{ book.pages }}</li>
            <li class="list-group-item"><strong>Price:</strong> ${{ book.price }}</li>
            <li class="list-group-item"><strong>Tags:</strong> {{ book.tags.all|join:', ' }}</li>
            <li class="list-group-item">
              {% if book.avg_rating %}
                <strong>Average rating:</strong> {{ book.avg_rating|floatformat:2 }} / 5.00
              {% else %}
                <strong>Average rating:</strong> No ratings yet.
              {% endif %}
            <p>{{ book.description }}</p>
            </li>
          </ul>
        
        </div>
        <div class="card-footer text-muted">
          <a href="{% url 'books:list' %}" class="btn btn-primary">Back to Book List</a>
        </div>
      </div>
        <div class="col-md-4">
            <a href='{% url 'books:edit' book.pk %}' class="btn btn-warning">Edit</a>
            <a href='{% url 'books:delete' book.pk %}'class="btn btn-danger">Delete</a>
            
        </div>
    </div>
  </div>
</div>
{% endblock %}