{% extends 'common/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="my-4">Welcome to Book Hub</h1>
    <p class="lead">We have a total of {{ total_books| default:0 }} books in our collection.</p>
    <hr>

    <div class="row">
      {% for book in books %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{% url 'books:detail' slug=book.slug %}">{{ book.title }}</a>
              </h5>
              <p class="card-text">
                  {% if book.avg_rating %}
                    Average rating: {{ book.avg_rating|floatformat:2 }}
                {% else %}
                    No ratings yet.
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}